@model SoftwareCatalogDatabaseASP.Models.Comments
<style>
      * {
    color: white;
  }
    body {
        background-color: #202124;
        color: #ffffff;
    }
    
    .categories-section {
        border: 1px solid #333333;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #202124;
    }
    
    .search-section {
        margin-top: 15px;
    }
    
    .form-check-input {
        background-color: #333333;
    }
    
    .form-check-label {
        color: #ffffff;
    }
    
    .form-control {
        background-color: #333333;
        color: #ffffff;
        border-color: #555555;
    }
    
    .btn-primary {
        background-color: #555555;
        border-color: #555555;
    }
    
    .program-container {
        border: 1px solid #333333;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #444444;
    }
    
    .program-image {
        margin-bottom: 15px;
    }
    
    .program-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .program-description {
        margin-bottom: 10px;
    }
    
    .program-link {
        display: block;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    .program-link:hover {
        text-decoration: underline;
    }
    
    .categories-section .form-check {
        display: block;
        margin-bottom: 10px;
    }
</style>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать</h1>

<h4>Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftwareId" class="control-label"></label>
                <select asp-for="SoftwareId" class ="btn btn-primary" asp-items="ViewBag.SoftwareId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
